@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
  padding: 0;
  margin: 0;
}
.navbar{
  background: #38003C;
 width: 100%;
 height: 10vh;
}
.content-navbar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pangolin', cursive;

  
}
.content-text{
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.main-section{
  background: white;
  width: 100%;
  min-height: 80vh;
}
.footer{
  display: flex;
  background: #38003C
 
}
.git{
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
}
.github {
  cursor: pointer;
  transition-duration: 500ms;
}

.github:hover {
  transform: scale(1.25);
}
.switch{
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.switch-field{
  display: flex;
  height: 35%;
  width: 20%;
  font-family: 'Pangolin', cursive;
  font-size:200%;
  color: white;
  background-color: #38003C;
  border: none;
  align-items: center;
  justify-content: center;
}

.switch-leagues{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: white 2px solid;
}
.switch-tabels{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: white 2px solid;
}
.text-up{
  font-family: 'Pangolin', cursive;
  font-size:130%;
  color: white;
  cursor: pointer;
  
}
.leagues-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
img{
width: 200px;
}
.league-div{
  width: 300px;
  height: 300px;
  display: block;
  border: #38003C solid 2px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.data-name{
  font-family: 'Pangolin', cursive;
}
.league-photo{
  transition-duration: 500ms;
}

.league-photo:hover{
  transform: scale(1.1);
}
.text-div{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;

}
.select-container{
display: flex;
justify-content: center;
}
select{
  padding: 10px;
  font-size: medium;
  font-family: 'Pangolin', cursive;
  border-radius: 10px;
}
.tables-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.table-pos{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: gray solid 2px;
  border-radius: 80px;
  padding: 20px;
  margin: 10px;
  font-size: xx-large;
  font-family: 'Pangolin', cursive;
  
}
.table-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 20px;
  margin-left: 10px;
  font-size: xx-large;
  font-family: 'Pangolin', cursive;
}
.champions-league{
  border: blue solid 2px;
}
.champions-league-qualifying{
  border: lightskyblue solid 2px;
}

.europa-league{
  border: orangered solid 2px;
}
.europa-league-qualifying{
  border: orange solid 2px;
}
.conference-league{
  border: green solid 2px;
}
.conference-league-qualifying{
  border: lightgreen solid 2px;
}
.relegation-playoff{
  border: rgb(211, 28, 135) solid 2px;
}
.relegation{
  border: red solid 2px;
}
.position-panel{
  
  display: flex;
  flex-direction: column;
  top:35%;
  left:0;
  position: fixed;
}
.legend-panel{
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: white;
  background-color: blue;
  width: 200px; 
  height:50px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -150px;
  transition-duration: 600ms;
  font-family: 'Pangolin', cursive;
}
.legend-panel:hover{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 0px;
}
.mobile-legend{
  display:none;
}
.logo-legend{
  width:50px;
}
.logos{
  width: 50px;
  margin-bottom: 10px; 
}
.data{
  margin-left: 10px;
  margin-right: 10px;
}
.stats{
  display:flex;
  justify-content: space-between;
  width: 400px;
  
}
.index-name{
  display:flex;
  align-items: center;
}

@media (max-width: 1600px){
  .leagues-container{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 1200px){
  .leagues-container{
    grid-template-columns: repeat(2,1fr);
  }
  .position-panel{
    display: none;
  }
  .mobile-legend{
    width:100%;
    display:flex;
  }
  .list-mobile-legend{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .legend-panel-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80px; 
    height:50px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Pangolin', cursive;
    border-radius: 10px;
    margin: 6px;
  }
  .select-container{
    margin-top: 20px;
  }
}
@media (max-width:950px){

  .tables-container{
    width: 100%; 
    padding: 0;
  }
.main-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phone-container{
  width: 100%;
}
.table-info{
  width: 300px;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}
.table-pos{
  width: 300px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.select-container{
  width: 300px;
}
select{
  width:200px;
  justify-content: center;
}
.logos{
  width: 30px;
  margin-top:auto;
  margin-bottom:auto;
}
.data{
  margin-left: 5px;
  margin-right: 5px;
}
.stats{
  width: 100%;
  justify-content: right;
}
.data-info{
  margin-left: 6px;
  margin-right: 6px;
}
}

@media (max-width: 800px){
  .switch-field{
    font-size:100%;
  }
  .leagues-container{
    grid-template-columns: repeat(1,1fr);
  }
  .switch-field{
    width: 30%;
  }
  .league-div{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: #38003C solid 2px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  .data-name{
    padding-bottom: 20px;
  }
  .text-up{
    font-size:140%;
  }
}